.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    padding: 5px 10px;
    border-radius: 8px;

    a {
        font-size: 14px;
        text-decoration: none;
        color: #ddd;
    }
}