.container {
    display: flex;
    justify-content: center;
    position: relative;

    @media (min-width: 800px) {
        align-items: center;
    }
}

.tooltip-container {
    display: flex;
    position: absolute;
    max-width: 200px;

    &.top {
        flex-direction: column;
        align-items: center;
    }

    &.bottom {
        flex-direction: column-reverse;
        align-items: center;
    }

    &.left {
        flex-direction: row;
        align-items: center;
    }

    &.right {
        flex-direction: row-reverse;
        align-items: center;
    }
}

.tooltip {
    padding: 10px;
    color: #fff;
    border-radius: 8px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    
    border-bottom: 7px solid black;
}

.arrow-down {
    width: 0; 
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    
    border-top: 7px solid black;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    
    border-left: 7px solid black;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 
    
    border-right:7px solid black; 
}